<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Roboto:wght@400;500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"/>
    <link rel="stylesheet" href="assets/styles/quem-somos.css">
    <link rel="stylesheet" href="assets/styles/header.css">
    <link rel="stylesheet" href="assets/styles/footer.css">
    <!-- SwipperJS -->
    <link rel="stylesheet" href="assets/styles/swiper-bundle.min.css"/>
    <link rel="stylesheet" href="./assets/styles/destaque.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.theme.default.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"></script>
    <script src="./assets/js/vue.js"></script>
    <script src="./assets/js/get_funcionarios.js"></script>

    <title>Sobre nós - Colégio Dominium</title>
</head>
<body>
    <section id="header-superior">
        <div class="container">
            <div class="plataformas">
                <ul>
                    <li><img src="assets/imagens/logo-pitagoras.svg" alt="Logo rede Pitágoras"></li>
                    <li><img src="assets/imagens/logo-escola-da-inteligencia.svg" alt="Logo Escola da Inteligência"></li>
                </ul>
            </div>
            
            <div class="links-externos">
                <ul>
                    <li><a href="https://dominiumteofilandia.eduxego.com.br/login" target="_blank">Área do aluno</a></li>
                    <li><a href="https://dominiumteofilandia.eduxe.com.br/login" target="_blank">Área do professor</a></li>
                    <li><a href="https://email.uolhost.com.br/colegiodominium.com.br/" target="_blank">Email institucional</a></li>
                    <li><a href="https://wa.me/5575992054298?text=Ol%C3%A1%21+Vim+pelo+website+do+Col%C3%A9gio+Dominium" class="whatsapp h-superior" target="_blank"><img src="assets/imagens/whatsapp.svg" alt="Botão Whatsapp"></a></li>
                    <li><a href="https://www.instagram.com/dominium.teof/?hl=pt-br"  target="_blank" class="instagram h-superior"><img src="assets/imagens/instagram.svg" alt="Botão Instagram"></a></li>
                </ul>
            </div>
        </div>
    </section>

    <header>
        <div class="container">
            <div class="logo">
                <img src="assets/imagens/logo-dominium.svg" alt="Logo Colégio Dominium">
            </div>
            <nav>
                <input type="checkbox" id="click">
                <label for="click" class="menu-btn">
                <i class="fas fa-bars"></i>
                </label>
                <ul>
                    <li><a href="index.html" class="active">Página Inicial</a></li>
                    <li><a href="sobre-nos.html" id="atual">Sobre nós</a></li>
                    <li><a href="ensino.html">Ensino</a></li>
                    <li><a href="calendario.html">Calendário</a></li>
                    <li><a href="noticias.html">Notícias</a></li>
                    <li><a href="galeria.html">Galeria</a></li>
                    <li><a href="acervo.html" class="nav-border">Acervo</a></li>
                    <li><a href="livraria.html" class="nav-border">Livraria</a></li>
                    <li><a href="matricula.html" class="nav-border">Matrícula</a></li>
                </ul>
            </nav>
        </div>
    </header>

    <main>
        </section>
        <section class="quem-somos">
            <div class="container">
                <div class="quem-somos-column1">
                    <img src="assets/imagens/img-quem-somos.svg">
                </div>

                <div class="quem-somos-column2">
                    <h1 class="titulo-section">Quem somos</h1>
                    <p>O Colégio Dominium tem como objetivo desenvolver um ensino de qualidade, pautado nos princípios da igualdade, solidariedade, ética e valorização do ser humano, tendo como guia o conjunto de conhecimentos necessários ao prosseguimento dos estudos e à formação para a cidadania.

                        <br><br>
                        Buscamos desenvolver a capacidade de utilizar crítica e criativamente as diversas formas de linguagem do mundo contemporâneo, estimulando a curiosidade, reflexão e crítica frente ao conhecimento e à interpretação da realidade. Além disso, valorizamos a compreensão dos processos naturais e o respeito ao ambiente como valor vital, afetivo e estético.
                    </p>
                </div>
            </div>
        </section>

        <div id="app">
            <section class="nossa-historia">
                <div class="header">
                    <h1 class="titulo-section"> Nossa História </h1>
                </div>
                <div class="container time-line">
                    <div class="timeline">
                        <div class="years">
                            <ul>
                                <li class="year" :class="(item.slug == ativo) ? 'ativo' : '' " v-for="item in historias" @click="fetchHistoria(item.slug)">{{ item.titulo }}</li>
                            </ul>
                        </div>
                        <div class="content" v-if="historia" :key="historia.slug">
                            <transition name="entrar" mode="out-in" appear>
                                <div class="img">
                                    <img :src="historia.acf.imagem" alt="">
                                </div>
                            </transition>
                            <transition name="entrar" mode="out-in" appear>
                                <div class="text">
                                    <h2>{{ historia.acf.titulo }}</h2>
                                    <p> {{historia.acf.texto}} </p>
                                </div>
                            </transition>
                        </div>
                    </div>
                </div>
            </section>
            <section class="nossa-equipe">
                <div class="container">
                    <h1 class="titulo-section">Nossa equipe</h1>
                    <div class="filtro filtro-preto">Direção & Coordenação</div>
                    <div class="swiper time-swiper">
                        <div class="swiper-wrapper">
                            <div class="card swiper-slide" v-for="funcionario in direcao">
                                <div class="card-inner">
                                    <div class="card-front">
                                        <div class="image">
                                            <img :src="funcionario.acf.foto" alt="">
                                        </div>
                                    </div>
                                    <div class="card-back">
                                        <div class="card__content">
                                            <h3>{{funcionario.titulo}}</h3>
                                            <p class="subtitulo">{{ funcionario.acf.funcao }}</p>
                                            <p class="descricao">{{ funcionario.acf.descricao }}</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>                   
        </div>


        <section class="nossa-equipe">
            <div class="container">
                <h1 class="titulo-section">Nossa equipe</h1>
                <div class="filtro filtro-preto">Direção & Coordenação</div>
                <div class="swiper time-swiper">
                    <div id="direcao" class="swiper-wrapper">

                        <div class="card swiper-slide">
                            <div class="card-inner">
                                <div class="card-front">
                                    <div class="image">
                                        <img src="assets/media/flavio-simone.svg" alt="Melline Lima">
                                    </div>
                                </div>
                                <div class="card-back">
                                    <div class="card__content">
                                        <h3>Flávio Simone</h3>
                                        <p class="descricao">Psicopedagoga graduada em História pela Universidade Estadual de Feira de Santana</p>
                                        <p class="subtitulo">ADMINISTRADOR</p>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="card swiper-slide">
                            <div class="card-inner">
                                <div class="card-front">
                                    <div class="image">
                                        <img src="assets/media/jucicleide-lopes.svg" alt="Jucicleide Lopes">
                                    </div>
                                </div>
                                <div class="card-back">
                                    <div class="card__content">
                                        <h3>Jucicleide Lopes</h3>
                                        <p class="subtitulo">DIRETORA</p>
                                        <p class="descricao">Psicopedagoga graduada em História pela Universidade Estadual de Feira de Santana</p>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="card swiper-slide">
                            <div class="card-inner">
                                <div class="card-front">
                                    <div class="image">
                                        <img src="assets/media/marleide-macedo.svg" alt="Jucicleide Lopes">
                                    </div>
                                </div>
                                <div class="card-back">
                                    <div class="card__content">
                                        <h3>Marleide Macedo</h3>
                                        <p class="subtitulo">COORDENADORA | ENSINO MÉDIO</p>
                                        <p class="descricao">Psicopedagoga graduada em História pela Universidade Estadual de Feira de Santana</p>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="card swiper-slide">
                            <div class="card-inner">
                                <div class="card-front">
                                    <div class="image">
                                        <img src="assets/media/melline-lima.svg" alt="Melline Lima">
                                    </div>
                                </div>
                                <div class="card-back">
                                    <div class="card__content"> 
                                        <h3>Melline Lima</h3>
                                        <p class="descricao">Psicopedagoga graduada em História pela Universidade Estadual de Feira de Santana</p>
                                        <p class="subtitulo">COORDENADORA | FUNDAMENTAL</p>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div> 
                         
                <div class="filtro filtro-preto">Administração</div>
                <div class="swiper time-swiper">
                    <div id="adm" class="swiper-wrapper">

                        
                        <div class="card swiper-slide">
                            <div class="card-inner">
                                <div class="card-front">
                                    <img src="assets/media/tavares.svg" alt="Tavares">
                                </div>
                                <div class="card-back">
                                    <div class="card__content">
                                        <h3>Tavares</h3>
                                        <p class="subtitulo">FINANCEIRO</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                        <div class="card swiper-slide">
                            <div class="card-inner">
                                <div class="card-front">
                                    <img src="assets/media/cristina.svg" alt="Cristina">
                                </div>    
                                <div class="card-back">
                                    <div class="card__content">
                                        <h3>Cristina</h3>
                                        <p class="subtitulo">SECRETÁRIA</p>
                                    </div>
                                </div>
                            </div>
                        </div>
    
                        <div class="card swiper-slide">

                            <div class="card-inner">
                                <div class="card-front">
                                    <img src="assets/media/hebert.svg" alt="Hebert">
    
                                </div>
                                <div class="card-back">
                                    <div class="card__content">
                                        <h3>Hebert</h3>
                                        <p class="subtitulo">MECANÓGRAFO</p>
                                    </div>
                                    
                                </div>
                            </div>

                        </div>
    
                        <div class="card swiper-slide">
                            <div class="card-inner">
                                <div class="card-front">
                                    <img src="assets/media/ivanize.svg" alt="Ivanize">
    
                                </div>
                                <div class="card-back">
                                    
                                    <div class="card__content">
                                        <h3>Ivanize</h3>
                                        <p class="subtitulo">SECRETÁRIA</p>
                                    </div>
                                </div>
                            </div>
                        </div>
    
                        <div class="card swiper-slide">
                            <div class="card-inner">
                                <div class="card-front">
                                    <img src="assets/media/margarida.svg" alt="Margarida">
    
                                </div>
                                <div class="card-back">
                                    <div class="card__content">
                                        <h3>Margarida</h3>
                                        <p class="subtitulo">RECEPÇÃO</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


                <div class="professores-ensino-fundamental-1">
                    <div class="filtro filtro-preto">Professores  •  Fundamental I</div>
                    <div class="swiper time-swiper">
                        <div id="prof1" class="swiper-wrapper">
                            <div class="card swiper-slide ">
                                <div class="card-inner">
                                    <div class="card-front">
                                        <img src="assets/media/luciana-peleteiro.svg" alt="Luciana Peleteiro">
                                    </div>
                                    <div class="card-back">                                        
                                        <div class="card__content">
                                            <h3>Luciana Peleteiro</h3>
                                            <p class="subtitulo">Lorem ipsum</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
    
                            <div class="card swiper-slide">
                                <div class="card-inner">
                                    <div class="card-front">
                                        <img src="assets/media/lorem-ipsum1.svg" alt="Lorem ipsum 1">
                                    </div>
                                    <div class="card-back">                                        
                                        <div class="card__content">
                                            <h3>Lorem Ipsum</h3>
                                            <p class="subtitulo">LOREM IPSUM</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
    
                            <div class="card swiper-slide">
                                <div class="card-inner">
                                    <div class="card-front">
                                        <img src="assets/media/lorem-ipsum2.svg" alt="Lorem Ipsum 2">
                                    </div>
                                    <div class="card-back">                                        
                                        <div class="card__content">
                                            <h3>Lorem Ipsum</h3>
                                            <p class="subtitulo">LOREM IPSUM</p>
                                        </div>
                                    </div>
                                </div>

                            </div>
    
                            <div class="card swiper-slide">
                                <div class="card-inner">
                                    <div class="card-front">
                                        <img src="assets/media/lorem-ipsum3.svg" alt="Lorem Ipsum 3">
        
                                    </div>
                                    <div class="card-back">
                                        <div class="card__content">
                                            <h3>Lorem Ipsum</h3>
                                            <p class="subtitulo">LOREM IPSUM</p>
                                        </div>
                                    </div>
                                </div>
                                
                            </div>
    
                            <div class="card swiper-slide">
                                <div class="card-inner">
                                    <div class="card-front">
                                        <img src="assets/media/rose.svg" alt="Rose">
        
                                    </div>
                                    <div class="card-back">
                                        <div class="card__content">
                                            <h3>Rose</h3>
                                            <p class="subtitulo">LOREM IPSUM</p>
                                        </div>
        
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>



                <div class="professores-ensino-fundamental-2-e-medio">
                    <div class="filtro filtro-preto">Professores  •  Fundamental II e Ensino Médio</div>
                    <div class="swiper time-swiper">
                        <div id="prof2" class="swiper-wrapper">
                            <div class="card swiper-slide">
                                <div class="card-inner">
                                    <div class="card-front">
                                        <img src="assets/media/elmo-carneiro.svg" alt="Elmo Carneiro">
        
                                    </div>
                                    <div class="card-back">
                                        <div class="card__content">
                                            <h3>Elmo Carneiro</h3>
                                            <p class="subtitulo">GEOGRAFIA</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
    
                            <div class="card swiper-slide">
                                <div class="card-inner">
                                    <div class="card-front">
                                        <img src="assets/media/maria-elaine.svg" alt="Maria Elaine">
        
                                    </div>
                                    <div class="card-back">
                                        <div class="card__content">
                                            <h3>Maria Elaine</h3>
                                            <p class="subtitulo">PORTUGUÊS E REDAÇÃO</p>
                                        </div>
                                        
                                    </div>
                                </div>
                            </div>
    
                            <div class="card swiper-slide">
                                <div class="card-inner">
                                    <div class="card-front">
                                        <img src="assets/media/luciano-oliveira.svg" alt="Luciano Oliveira">
        
                                    </div>
                                    <div class="card-back">
                                        <div class="card__content">
                                            <h3>Luciano Oliveira</h3>
                                            <p class="subtitulo">BIOLOGIA</p>
                                        </div>
                                        
                                    </div>
                                </div>
                            </div>
    
                            <div class="card swiper-slide">
                                <div class="card-inner">
                                    <div class="card-front">
                                        <img src="assets/media/fernanda-gama.svg" alt="Fernanda Gama">
        
                                    </div>
                                    <div class="card-back">
                                        <div class="card__content">
                                            <h3>Fernanda Gama</h3>
                                            <p class="subtitulo">PORTUGUÊS E LITERATURA</p>
                                        </div>
                                        
                                    </div>
                                </div>
                            </div>
    
                            <div class="card swiper-slide">
                                <div class="card-inner">
                                    <div class="card-front">
                                        <img src="assets/media/natanael.svg" alt="Natanael">
        
                                    </div>
                                    <div class="card-back">
                                        <div class="card__content">
                                            <h3>Natanael</h3>
                                            <p class="subtitulo">FILOSOFIA E SOCIOLOGIA</p>
                                        </div>
                                        
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="funcionarios">
                    <div class="filtro filtro-preto">Funcionários</div>
                    <div class="swiper time-swiper">
                        <div id="funcionarios" class="swiper-wrapper">
                            <div class="card swiper-slide">
                                <img src="assets/media/cida.svg" alt="Cida">
                                <div class="card__content">
                                    <h3>Cida</h3>
                                    <p class="subtitulo">LOREM IPSUM</p>
                                </div>
                            </div>
    
                            <div class="card swiper-slide">
                                <img src="assets/media/jurandir.svg" alt="Jurandir">
                                <div class="card__content">
                                    <h3>Jurandir</h3>
                                    <p class="subtitulo">LOREM IPSUM</p>
                                </div>

                            </div>
    
                            <div class="card swiper-slide">
                                <img src="assets/media/sandra.svg" alt="Sandra">
                                <div class="card__content">
                                    <h3>Sandra</h3>
                                    <p class="subtitulo">LOREM IPSUM</p>
                                </div>

                            </div>
    
                            <div class="card swiper-slide">
                                <img src="assets/media/massal.svg" alt="Massal">
                                <div class="card__content">
                                    <h3>Massal</h3>
                                    <p class="subtitulo">LOREM IPSUM</p>
                                </div>
                            </div>
    
                            <div class="card swiper-slide">
                                <img src="assets/media/lorem-ipsum4.svg" alt="Lorem Ipsum">
                                <div class="card__content">
                                    <h3>Lorem Ipsum</h3>
                                    <p class="subtitulo">LOREM IPSUM</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>

    <footer>
        <div class="container">
            <div class="footer-column1">
                <div class="logo">
                    <img src="assets/imagens/logo-dominium.svg" alt="Logo Dominium">
                    <h2>Colégio Dominium</h2>
                </div>

                <address>
                    Rua Prado, 4 - Núcleo Habitacional Teofilândia-BA
                </address>
            </div>

            <div class="nav-lateral">
                <ul>
                    <li><a href="*">Página Inicial</a></li>
                    <li><a href="*">Sobre nós</a></li>
                    <li><a href="*">Ensino</a></li>
                    <li><a href="*">Calendário</a></li>
                    <li><a href="*">Notícias</a></li>
                    <li><a href="*">Repositório</a></li>
                    <li><a href="*">Livraria</a></li>
                </ul>
            </div>
        </div>
    </footer>

    <div class="rodape">
        <div class="container">
            <div class="plataformas">
                <ul>
                    <li><img src="assets/imagens/logo-pitagoras.svg" alt="Logo rede Pitágoras"></li>
                    <li><img src="assets/imagens/logo-escola-da-inteligencia.svg" alt="Logo Escola da Inteligência"></li>
                </ul>
            </div>
            
            <div class="links-externos">
                <ul>
                    <li><a href="*">Trabalhe Conosco</a></li>
                    <li><a href="*">Fale Conosco</a></li>
                    <li><a href="*">Acessibilidade</a></li>
                    <li><a href="*">Termos e Serviços</a></li>
                </ul>
            </div>
        </div>
    </div>
    <script src="./assets//js/get-funcionarios.js"></script>
    <!-- Swiper JS -->
    <script src="./assets/js/swiper-bundle.min.js"></script>

    <!-- Initialize Swiper Destaque -->
    <script>
        var swiper = new Swiper(".mySwiper", {
        pagination: {
            el: ".swiper-pagination",
            type: "progressbar",
        },
        navigation: {
            nextEl: ".swiper-button-next",
            prevEl: ".swiper-button-prev",
        },
        });
    </script>

       <!-- Initialize Swiper -->
   <script>

  </script>
    <script>
    const app = new Vue({
        el: '#app',
        data: {
            historias: [],
            historia: null,
            ativo: '',
            direcao: [],
            direcao_single: null
        },
        methods: {
            getSwiper(){
            var swiper = new Swiper(".time-swiper", {
            loop:true,
            grabCursor:true,
            spaceBetween:20,
            breakpoints: {
                0: {
                    slidesPerView: 1.5,
                },
                768: {
                    slidesPerView: 3,
                },
                991: {
                    slidesPerView: 4,
                },
            },
            });
            },
            fetchHistorias() {
                let i = fetch('https://dominium-api.nordevtech.com.br/wp-json/dominium/historia/historia').then( response => {(response.json())
                .then( responseJson => { 
                    this.historias = responseJson;
                })
                })
                // console.log(i)
            },
            fetchHistoria(ano) {
                fetch(`https://dominium-api.nordevtech.com.br/wp-json/dominium/historia/historia_single/${ano}`).then( response => {(response.json())
                .then( responseJson => { 
                    this.historia = responseJson;
                    this.ativo = responseJson.slug;

                })
                })
            },
            fetchDirecao(){
                let i = fetch('https://dominium-api.nordevtech.com.br/wp-json/dominium/equipe/direcao').then( response => {(response.json())
                .then( responseJson => { 
                    this.direcao = responseJson;
                    // console.log(responseJson)
                    // console.log(direcao)

                })
                })
                // console.log(i)
            },
            fetchDirecaoSingle(nome) {
                fetch(`https://dominium-api.nordevtech.com.br/wp-json/dominium/equipe/direcao_membro/${nome}`).then( response => {(response.json())
                .then( responseJson => { 
                    this.direcao_single = responseJson;
                    // contole.log(responseJson)
                })
                })
            }
        },
        created() { 
            this.fetchHistorias();
            this.fetchDirecao();
            this.getSwiper()
        }
    })
    </script>
    <script>
        let html_add_adm = '';
        fetch('https://dominium-api.nordevtech.com.br/wp-json/dominium/equipe/administracao')
        .then(
            (responde) => console.log(responde.json()
            .then(
                data => {
                    console.log(data)
                    for (var key in data){
                        console.log(data[key].id)
                        let htmlSegment = `
                        <div class="card swiper-slide">
                        <div class="card-inner">
                                <div class="card-front">
                                    <img src="${data[key].acf.foto}" alt="${data[key].slug}">
                                </div>
                                <div class="card-back">
                                    <div class="card__content">
                                        <h3>${data[key].acf.nome}</h3>
                                        <p class="subtitulo">${data[key].acf.funcao}</p>
                                    </div>
                                </div>
                            </div>
                        </div>`
                        html_add_adm+=htmlSegment
                    }
                    let swiper = document.querySelector('#adm');
                    swiper.innerHTML = html_add_adm;
                }
                ))
            )

    </script>
    </body>
</html>