<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="ensino.css">
    <title>Document</title>
</head>
<body>
    <section>
        <div class="container">
            <div class="ensino">
                <div class="flex-row">
                  <div style="background: #0980cc;"></div>
                </div>
                <div class="flex-column">
                  <div style="background: #09cc69;"></div>
                  <div style="background: #cc092f;"></div>
                  <div style="background: #09cc69;"></div>
                </div>
              </div>
        </div>
    </section>
</body>
</html>