html{
    font-size: 62.5%;
}

body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

.container{
    max-width: 1150px;
    width: 100%;
    margin: auto;
}

/*--> Configs gerais <--*/
.titulo-section{
    font-family: 'Bebas Neue', cursive;
    font-size: 6.0rem;
    line-height: 6.5rem;
}

p{
    font-size: 1.6rem;
    line-height: 25px;
}

/*-Config filtros*/
.filtros{
    margin-left: 30px;
}

.outros-filtros .filtro:hover{
    color: #000;
}

.filtro{
    font-size: 1.6rem;
    padding: 10px 20px;
    border-radius: 20px;
    text-decoration: none;
    color: #666;
}

.filtro-atual{
    color: #000;
}

.filtro-preto{
    display: inline-block;
    background-color: #000;
    color: white;
    margin-bottom: 20px;
}

.filtro-roxo{
    color: #8C4CDE;
    background-color: #E6D8F8;
    font-weight: 500;
    display: inline-block;
    margin: 5px;
}

.filtro-vinho{
    color: #AD3C43;
    background-color: #E6CDCE;
    font-weight: 500;
    display: inline-block;
    margin: 5px;
}

.filtro-azul{
    color: #4065C2;
    background-color: #CDD5E8;
    font-weight: 500;
    display: inline-block;
    margin: 5px;
}

.filtro-azul-claro{
    color: #196186;
    background-color: #CCEDFE;
    font-weight: 500;
    display: inline-block;
    margin: 5px;
}

.filtro-azul-escuro{
    color: #2C426F;
    background-color: #DCDFE3;
    font-weight: 500;
    display: inline-block;
    margin: 5px;
}

.filtro-verde-escuro{
    color: #477B1E;
    text-decoration: none;
    background-color: #D8E8CC;
    font-weight: 500;
    display: inline-block;
    margin: 5px;
}

.filtro-verde-claro{
    color: #0F824A;
    text-decoration: none;
    background-color: #D5EDE2;
    font-weight: 500;
    display: inline-block;
    margin: 5px;
}

a.filtro-laranja{
    color: #B25F11;
    text-decoration: none;
    background-color: #F9E2CC;
    font-weight: 500;
    display: inline-block;
    margin: 5px;
}

a.filtro-header-section{
    color: #9E9E9E;
    border: 1px solid #9E9E9E;
}

/*-Config ver-tudo*/
.ver-tudo{
    display: flex;
    align-items: center;
}

.ver-tudo img{
    width: 65px;
}

.ver-tudo p{
    font-size: 2.4rem;
    font-weight: bold;
    color: #000;
    text-decoration: none;
    margin-left: 20px;
}


/*-Config comprar-online*/
.comprar-online{
    display: flex;
    align-items: center;
    padding-left: 10px;
}

.comprar-online img{
    margin-right: 20px;
}

.comprar-online p{
    font-weight: bold;
    color: #C30101;
}

/*--> Config header-superior <--*/
#header-superior{
    background-color: black;
    height: 65px;
}

#header-superior .container{
    height: 65px;
}

#header-superior .container{
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
/*Config plataformas*/
.plataformas ul{
    margin-left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    padding: 0;
}

.plataformas ul li{
    margin-right: 16px;
}
/*Config links-externos*/
.links-externos ul{
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
}

.links-externos ul li{
    margin-left: 32px;
}

.links-externos ul li a{
    font-size: 1.2rem;
    color: white;
    text-decoration: none;
}

.links-externos ul li img{
    margin-left: -12px;
}

/*--> Config header<--*/
header{
    height: 120px;
}

header .container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 120px;
}

/*Config nav*/
header nav ul{
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    z-index: 2000;
}

header nav ul li{
    font-weight: 500;
    margin-left: 32px;
}

header nav ul li a{
    font-size: 1.6rem;
    color: black;
    text-decoration: none;
}

header nav ul li a:hover, nav ul li a#atual{
    color: #C30101;
}

.nav-border{
    padding: 10px 25px;
    border: 2px solid black;
    border-radius: 20px;
}

.nav-border:hover, .nav-border#atual{
    color: white;
    background-color: #000;
}

.nav-border-atual{
    background-color: #000;
    color: #fff;
}


/*-->> CONFIG INDEX <<--*/
/*--> Config destaque <--*/
.destaque{
    height: calc(100vh - 185px);
    background-image: url('imagens/bg-destaque.svg');
    object-fit: fill;
    background-position: center;
    background-size: 100%;
}

.destaque .container{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

/*Config texto-destaque*/
.texto-destaque{
    color: white;
    position: relative;
    left: 60px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.texto-destaque h1{
    font-family: 'Bebas Neue', cursive;
    font-size: 7.2rem;
    line-height: 80px;
    width: 500px;
}

.texto-destaque p{
    font-size: 1.6rem;
    width: 450px;
    line-height: 25px;
    position: relative;
    bottom: 70px;
}

.texto-destaque a{
    color: #000;
    width: 110px;
    font-size: 2.4rem;
    font-weight: 600;
    text-decoration: none;
    padding: 15px 35px;
    background: #FFD700;
    border-radius: 16px;
    position: relative;
    bottom: 70px;
}

.nav-destaque{
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    position: relative;
    bottom: 10px;
}

.nav-destaque .circle{
    width: 15px;
    height: 15px;
    border-radius: 24px;
    margin: 2px;
    background-color: rgba(255, 255, 255, 0.511);
}

.nav-destaque .circle:hover{
    background-color: white;
    cursor: pointer;
}

.nav-destaque .circle#atual{
    background-color: white;
    width: 30px;
    cursor: pointer;
}

/*Config foto aluna-destaque*/
.foto-aluna img{
    height: 480px;
    position: relative;
    right: 45px;
    bottom: 14px;
}

/*Config setas*/
.seta{
    background-color: white;
    padding: 15px;
    border-radius: 200px;
}

/*--> Config footer <--*/
footer{
    background-color: #fff;
    height: 280px;
    padding: 60px;
}

footer .container{
    display: flex;
    justify-content: space-between;
    height: 280px;
}

/*Config footer-column1*/

.footer-column1{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.footer-column1 .logo{
    display: flex;
    align-items: center;
    font-size: 2.2rem;
    font-weight: bold;
}

.footer-column1 .logo h2{
    margin-left: 15px;
}

address{
    font-size: 1.6rem;
    font-weight: 500;
    font-style: normal;
}

/*Config nav-lateral*/
.nav-lateral{
    font-size: 1.6rem;
}

.nav-lateral ul{
    list-style: none;
}

.nav-lateral ul li{
    margin-top: 15px;
    margin-bottom: 10px;
}

.nav-lateral ul li a{
    color: black;
    text-decoration: none;
}

.nav-lateral ul li a:hover{
    text-decoration: underline;
}

/*--> Config rodapé <--*/
.rodape{
    background-color: black;
    height: 65px;
}

.rodape .container{
    height: 65px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

/*--> Config secao-contato <--*/
.contato{
    background-color: #F2F2F2;
    padding: 60px;
}

.contato .container{
    display: flex;
    align-items: center;
    justify-content: center;
}

.box{
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 60px;
    border-radius: 40px;
}

/*Config column1*/
.column1{
    max-width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.column1 h1{
    width: 80%;
    line-height: 114%;
    position: relative;
    bottom: 55px;
}

.column1 p{
    width: 418px;
    position: relative;
    bottom: 85px;
}

.outros-contatos .forma-de-contato{
    display: flex;
    align-items: center;
    margin: 20px;
    position: relative;
    bottom: 55px;
}

.link-contato{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.forma-de-contato img{
    width: 45px;
    margin-right: 10px;
}

.forma-de-contato a{
    color: black;
    font-size: 1.6rem;
    width: 450px;
    line-height: 25px;
    text-decoration: none;
}

.forma-de-contato a:hover{
    color: #C30101;
}
/*Config column2*/
.column2 form{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

input{
    width: 420px;
    padding: 15px;
    font-size: 1.6rem;
    color: #9E9E9E;
    border: 1px solid #9E9E9E;
    border-radius: 10px;
    margin-bottom: 10px;
}

select{
    width: 450px;
    padding: 15px;
    font-size: 1.6rem;
    color: #9E9E9E;
    border: 1px solid #9E9E9E;
    border-radius: 10px;
    margin: 0 0 10px 0 !important;
}

textarea{
    width: 420px;
    height: 180px;
    padding: 15px;
    font-size: 1.6rem;
    color: #9E9E9E;
    border: 1px solid #9E9E9E;
    border-radius: 10px;
    margin-bottom: 10px;
    font-family: 'Roboto', sans-serif;
    resize: none;
}

button{
    width: 450px;
    background-color: #FFD700;
    padding: 15px;
    border: none;
    font-size: 1.6rem;
    font-weight: bold;
    color: black;
    border-radius: 10px;
    margin-bottom: 10px;
}

input:focus, select:focus, textarea:focus, button:focus{
    outline: 0;
}

/*--> Config livraria <--*/
.livraria{
    padding: 60px;
}

/*-Config header-livraria*/
.header-section{
    display: flex;
    justify-content: space-between;
}

/*-Config header-livraria-column1*/
.header-section-column1{
    display: flex;
    align-items: center;
}

.header-section-column1 a{
    display: none;
}

.header-section-column1 img{
    margin-right: 20px;
}

.header-section-column1 .titulo-section{
    margin-right: 20px;
}

/*-Config header-livraria-column2*/
.header-section-column2{
    display: flex;
    align-items: center;
}

.header-section-column2 a{
    text-decoration: none;
}

/*-Config livros*/
.livros {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 15px;
}

.card h3{
    font-size: 2.4rem;
    font-weight: bold;
    position: relative;
    bottom: 10px;
}

.subtitulo{
    position: relative;
    bottom: 25px;
}

.card a{
    text-decoration: none;
    position: relative;
    bottom: 35px;
}

.owl-carousel .owl-item img {
    display: block;
    width:auto !important;
}

/*--> Config repositorio <--*/

.publicacoes .blog-responsivo {
    display: block;
}

/*-Config publicacao*/
.publicacao{
    margin-top: 30px;
    border-top: 1px solid #9E9E9E;
    padding: 30px 0px 30px 0px;
    display: none;
    justify-content: space-between;
}

.show {
    display: flex;
}

.perfil-professor{
    display: flex;
    align-items: center;
}

.perfil-professor img{
    margin-right: 10px;
}

.perfil-professor h4{
    font-size: 1.8rem;
    font-weight: 400;
    color: #9E9E9E;
    margin-right: 10px;
}

.perfil-professor p{
    font-size: 1.8rem;
    color: #9E9E9E;
    margin-left: 10px;
}

.titulo-publicacao{
    font-size: 2.4rem;
    font-weight: bold;
    position: relative;
    bottom: 20px;
}

.resumo-publicacao{
    font-size: 2.0rem;
    position: relative;
    bottom: 22px;
}

/*-->> CONFIG SOBRE NÓS <<--*/
/*--> Config quem-somos<--*/
.quem-somos .container{
    display: flex;
    justify-content: center;
    align-items: center;
}

.quem-somos-column1 img{
    width: 450px;
    margin-right: 60px;
}

/*--> Config nossa-equipe <--*/
.nossa-equipe{
    padding: 60px;
}

/*-Config cards-*/
.cards{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}


/*--> Config section.ensino <--*/

.ensino{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    padding: 60px;
    background: #F2F2F2;
}

.title-ensino{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.title-ensino h2{
    font-family: 'Bebas Neue', cursive;
    font-size: 5.6rem;
    margin-left: 32px;
}

.ensino .white-box {
    /* position: relative; */
    width: 100%;
    min-height: 85vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    background: #fff;
    border-radius: 16px;
}

.ensino .column-left{
    width: 45%;
    max-height: 100vh;
    display: flex;
    /* position: relative; */
    align-items: flex-start;
    flex-direction: column;
    border-radius: 16px 0px 0px 16px;;
}

.column-left .item {
    width: 100%;
    min-height: 33.33vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.column-left .item a {
    text-decoration: none;
    color: #000;
    text-align: center;
    margin-left: 25px;
    font-family: 'Bebas Neue', cursive;
    font-size: 5.6rem;
}

.column-left .item .fundamental-one{
    background: #fff;
    border-radius: 16px 0px 0px 0px;
}

.column-left .item.fundamental-two{
    background: #FFC700;
}

.column-left .item.ensino-medio{
    background: #C30101;
    border-radius: 0px 0px 0px 16px;   
}

.column-left .item.fundamental-two a{
    color: #fff;
}

.column-left .item.ensino-medio a{
    color: #fff;
}

.ensino .column-right {
    width: 55%;
    max-height: 100vh;
    display: flex;
    flex-direction: column;
    background: #fff;
    border-radius: 0px 16px 16px 0px;;
    overflow: hidden;
}

.ensino .column-right .content {
    width: 50%;
    height: 50vh;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    padding: 20px;
    padding-top: 150px;
    margin-left: 50px;
    background: #fff;
    overflow-wrap: break-word;
}

.ensino .column-right .images {
    width: 100%;
    height: 50vh;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    background-image: url("./imagens/bubble.svg");
    background-repeat: no-repeat;
    background-position: left bottom;
}

.ensino .column-right .images .background-wave {
    display: flex;
    justify-content: right;
    width: 100%;
}

.ensino .column-right .images .background-wave img {
    margin-top: 50px;
}

.ensino .column-right .content .text-about {
    width: 100%;
    overflow-wrap: break-word;
}

.ensino .column-right .content .text-about p {
    white-space: initial;
    color: #000;
    font-family: 'Roboto', sans-serif;
    line-height: 24px;
    letter-spacing: 1px;
}


.ensino .column-right .content buttom .text {
    color: #000;
    font-family: 'Roboto', sans-serif;
    padding: 20px;
    line-height: 24px;
    letter-spacing: 1px;
}

.ensino .content button {
    max-width: 100%;
    padding-top: 30px;
    background-color: #fff;
    border: none;
    align-items: flex-start;
}

.ensino .content button .button {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.ensino .content button .button .text {
    color: #000;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-weight: bold;
    padding-left: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.ensino .content button .arrow {
    height: 30px;
    width: 30px;
    display: flex;
    background-color: #000;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

/*-->> Fim de section.Ensino <<--*/

/*--> Config section.testimonials <--*/

.testimonials {
    background: #C30101;
    padding: 40px 0;
}


.testimonials .background {
    display: flex;
    justify-content: space-between;
}

/*-->> Config aspas, background <<--*/

.testimonials .background .aspas-left {
    /* display: flex; */
    align-items: flex-start;
}

.testimonials .background .aspas-right {
    /* display: flex; */
    align-items: flex-end;
}

/* -->> Carossel testimonials.testimonial <<-- */
.testimonial-section {
    background: #C30101;
    padding: 40px 0;
    display: flex;
    align-items: center;
    justify-content: center;
}
  
  /* .inner-width{
    max-width: 1200px;
    margin: auto;
    padding: 0 20px;
  } */
    
  .testimonial{
    background: #f1f1f1;
    max-width: 480px;
    min-width: 380px;
    overflow: hidden;
    border-radius: 8px;
    cursor: pointer;
    margin-left: 10px;
}

.test-info {
    display: flex;
    height: 60px;
    padding: 50px 40px 60px 40px;
    align-items: center;
    background-color: #F2F2F2;
  }
  
  .testimonial .footer {
    background-color: #FFF;
    padding: 10px 40px 40px 40px;
  }
  
  .test-pic{
    width: 100px !important;
    border-radius: 50%;
    margin-right: 15px;
  }
  
  .test-name{
    font-size: 12px;
    color: #333;
  }
  
  .test-name span{
    text-transform: uppercase;
    display: block;
    font-size: 3rem;
    font-family: 'Bebas Neue', cursive;
    line-height: 30px;
    font-weight: 400;
    color: #000;
  }
  
  .testimonial p{
    font-size: 12px;
    line-height: 22px;
    margin-top: 20px;
  }
  
.inner-width {
    display: flex;
    justify-content: space-around;
    max-width: 100%;
    overflow-x: auto;
}

.inner-width::-webkit-scrollbar {
    width: 0;
}


/*-->> Config pag livraria <<--*/
.title-repositorio-and-acervo{
    /* display: flex;
    align-items: center; */
}

/*-->> Config pag acervo <<-- */
/*-Config outros-filtros*/

.title-repositorio-and-acervo {
    width: 100%;
    display: flex;
    align-items: center;
}    

.titulo-acervo {
    width: 30%;
}

.btn {
    width: 150px;
    font-weight: 550;
    text-align: center;
}

.outros-filtros{
    display: flex;
    justify-content: space-between;
}

.filtro-data{
    display: flex;
}

.filtro-tipo{
    display: flex;
}



/*-Config seta-veja-mais*/
.seta-veja-mais{
    display: flex;
    justify-content: center;
    margin: 60px;
}

.seta-veja-mais img{
    width: 60px;
}

/*-->> Config pag matricula <<--*/
/*--> Config section.sobre-a-matricula <--*/
.sobre-a-matricula{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 60px;
}

.sobre-a-matricula-column-1{
    width: 420px;
    margin-right: 150px;
}

.lista-de-documentos{
    margin-top: 30px;
}

.lista-de-documentos li{
    font-size: 2.0rem;
    font-weight: 500;
}

@media (max-width: 800px){
    .sobre-a-matricula{
        padding: 30px !important;
    }

    .sobre-a-matricula-column-1{
        width: 100% !important;
        margin-right: 0;
    }

    .sobre-a-matricula-column-2 img{
        width: 100%;
        margin-top: 50px;
    }
}

/*--> Config section.pre-matricula-online <--*/
.title-section{
    display: flex;
}

.title-section-column1{
    flex: 1;
}

.title-section-column2{
    flex: 1;
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
}

.title-section-column2 img{
    width: 40px;
    margin: 45px;
}

@media (max-width: 800px){
    .pre-matricula-online{
        padding: 30px;
    }

    .title-section-column2{
        display: none;
    }

    .form-pre-matricula-online{
        padding: 0 !important;
    }
}

.title{
    display: flex;
}

.title img{
    margin-right: 30px;
}

/*--> config section.form-pre-matricula-online <--*/
.form-pre-matricula-online{
    padding: 60px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.form-pre-matricula-online h2{
    font-size: 24px;
    align-self: flex-start;
}

.form-pre-matricula-online form{
    display: flex;
    flex-direction: column;
}

.form-pre-matricula-online form input, select{
    margin: 10px;
    width: 100%;
}

.form-pre-matricula-online form #email-responsavel{
    width: 95%;
}

.form-pre-matricula-online form button{
    width: 100%;
}

.form-pre-matricula-online form button:hover{
    cursor: pointer;
}



/*-->> config Pag acervo-interacao <<--*/



.acervo-interacao .title{
    display: flex;
    align-items: center;
}

.acervo-interacao .conteudo{
    width: 600px;
    margin: auto;
}

.acervo-interacao .perfil-professor{
    margin-bottom: 50px;
}




/* Responsividade */

.content_ {
    z-index: -10;
}

nav .menu-btn i{
    color: #000;
    font-size: 22px;
    cursor: pointer;
    display: none;
  }
  input[type="checkbox"]{
    display: none;
  }
  @media (max-width: 1000px){

    /* Header e Footer */
    #header-superior {
        display: none;
    }

    .logo {
        margin-left: 20px;
        flex-direction: column;
    }

    .footer-column1 {
        align-items: flex-start;
    }

    .footer-column1 .logo h2 {
        text-align: center;
        font-size: 2rem;
    }

    .rodape .container {
        justify-content: center;
        align-items: center;
    }

    .rodape .links-externos {
        max-width: 100%;
        display: flex;
    }

    .rodape .links-externos ul {
        max-width: 100%;
        overflow-x: hidden;
    }

    .rodape .container .plataformas{
        display: none;
    }

    nav{
      padding: 0 40px 0 50px;
    }

    .nav-border {
        display: none;
    }

    header nav ul {
        display: flex;
        flex-direction: column;
    }

    header nav ul li a {
        color: white;
    }

    nav ul li {
        width: 100%;
        margin: 30px 0;
    }

    /* Ensino  */

    .ensino .white-box {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;

    }
    .ensino .column-left{
        display: flex;
        flex-direction: row;
        width: 100%;

    }
    .column-left .item.ensino-medio {
        background: #C30101;
        border-radius: 0px 16px 0px 0px;
    }
    .column-left .item {
        display: flex;
        flex-direction: column;
    }
    .column-left .item a {
        font-size: 3rem;
    }
    #icon-ensino {
        max-width: 80px;
    }
    .ensino .column-right {
        width: 100%;
        max-height: 100vh;
        display: flex;
        flex-direction: column;
        background: #fff;
        border-radius: 0px 0px 16px 16px;
        overflow: hidden;
    }

    /* Fim de Ensino */

    /* Acervo */

    .publicacoes .blog-responsivo {
        display: block;
    }
    .publicacao {
        display: none;
    }

    .posts-responsivo {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;

    }

    .header-section {
        display: flex;
        justify-content: space-around;
    }

    .filtros-publicacao {
        margin-top: 100px;
    }
    /* Fim de acervo */

    /* Formulário */

    .box {
        flex-direction: column;
        width: 100%;
    }


    .outros-contatos {
        /* display: flex; */
    }

    /* fim Formulário */

  }
  @media (max-width: 920px) {
    #click:checked > .content_ {
        display: none;
    }
    nav .menu-btn i{
      display: block;
    }
    #click:checked ~ .menu-btn i:before{
      content_: "\f00d";
    }
    nav ul{
      position: fixed;
      top: 108px;
      left: -100%;
      background: #111;
      height: 100vh;
      width: 100%;
      text-align: center;
      display: block;
      transition: all 0.3s ease;
      transform: translate3d(-60px, 0, 0);

      /* overflow: scroll; */
    }
    #click:checked ~ ul{
      left: 0;
    }

    nav ul li a{
      width: 100%;
      margin-left: -100%;
      display: block;
      font-size: 20px;
      transition: 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    }
    #click:checked ~ ul li a{
      margin-left: 0px;
    }
    nav ul li a.active,
    nav ul li a:hover{
      background: none;
      color: #C30101;
    }

    .nav-lateral {
        display: none;
    }
  }

/* Smaller than standard 960 (devices and browsers) */
@media only screen and (max-width: 959px) {

}

/* Tablet Portrait size to standard 960 (devices and browsers) */
@media only screen and (min-width: 768px) and (max-width: 959px) {

}

/* All Mobile Sizes (devices and browser) */
@media only screen and (max-width: 767px) {

    /* Ensino */

    .column-left .item a {
        font-size: 2rem;
        margin-left: 0;
    }

    .ensino .column-right .images .background-wave img {
        max-width: 300px
    }

    .ensino .column-right .content {
        padding-top: 50px;
    }

    /* Formulario de contato */

    .box{
        max-width: 100%;
        min-width: 300px;
    }

    .cabecalho {
        max-width: 100%;
        margin: 15px;
    }  

    .column1 p {
        max-width: 100%;
        bottom: 0;
        padding: 0;
        margin-left: 10px;
    }

    .outros-contatos {
        display: flex;
        align-items: center;
        justify-content: center;
        bottom: 0;
        margin-bottom: 20px;
    }

    .outros-contatos .forma-de-contato {
        bottom: 0;
    }

    .forma-de-contato img {
        width: 35px;
        margin-right: 10px;
    }

    .contato h1 {
        font-size: 3.5rem;
        bottom: 0;
        margin-left: 10px;
    }

    .forma-de-contato a {
        width: auto;
    }

    .forma-de-contato .link-contato .visually-hidden{
        display: none;
    }

    .column2 {
        max-width: 100%;
    }

    form {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        margin-left: 10px;
    }

    input {
        max-width: 80%;
        padding: 15px;
        font-size: 1.4rem;
    }

    select {
        width: 92%;
        padding: 15px;
        font-size: 1.4rem;
    }

    textarea {
        max-width: 81%;
        min-width: 150px;
        height: 180px;
        padding: 15px;
        font-size: 1.4rem;
    }
    button {
        max-width: 93%;
    }

    /* Sobre nós */
    .quem-somos-column1 {
        display: none;
    }
    /* Fim de Sobre Nós */

}

/* Mobile Landscape Size to Tablet Portrait (devices and browsers) */
@media only screen and (min-width: 480px) and (max-width: 767px) {

    

}

/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
@media only screen and (max-width: 479px) {

    /* testando */
    .destaque {
        display: none;
    }

    /* fim de teste */

    .container{
        max-width: 479px;
        width: 100%;
        margin: auto;
    }

    .ensino {
        padding: 20px
    }

    #icon-ensino {
        max-width: 60px;
    }

    .column-left .item a {
        display: none;
    }

    .ensino .column-right .content { 
        width: 70%;
        margin-left: 30px;
    }

    .ensino .column-right .images .background-wave img {
        max-width: 250px;
    }

    /* Livraria secition */

    .header-section {
        display: flex;
        flex-wrap: wrap;
    }

    .ver-tudo {
        display: none;
    }
    .header-section-column1 a{
        display: block;
    }
/* 
    .ver-tudo p {
        margin-left: 0;
        padding: 0px 50px;
        font-size: 1.6rem;
        color: #666;
    }

    .ver-tudo {
        border: 1px solid #9E9E9E;
        border-radius: 30px;
        margin-top: -15px;
        margin-bottom: 30px;
    }

    .ver-tudo:hover {
        background-color: #9E9E9E;
        transition: .5s;
    } */

    /* Contato */

    .contato {
        padding: 20px;
    }

    .box {
        padding: 30px;
    }
}