html{
    font-size: 62.5%;
}

body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

.container{
    max-width: 1150px;
    width: 100%;
    margin: auto;
}

/*--> Configs gerais <--*/
.titulo-section{
    font-family: 'Bebas Neue', cursive;
    font-size: 6.0rem;
    line-height: 6.5rem;
}

p{
    font-size: 1.6rem;
    line-height: 25px;
}

/*-Config filtros*/
.filtros{
    margin-left: 30px;
}

.outros-filtros .filtro:hover{
    color: #000;
}

.filtro{
    font-size: 1.6rem;
    padding: 10px 20px;
    border-radius: 20px;
    text-decoration: none;
    color: #666;
}

.filtro-atual{
    color: #000;
}

.filtro-preto{
    display: inline-block;
    background-color: #000;
    color: white;
    margin-bottom: 20px;
}

.filtro-roxo{
    color: #8C4CDE;
    background-color: #E6D8F8;
    font-weight: 500;
    display: inline-block;
    margin: 5px;
}

.filtro-vinho{
    color: #AD3C43;
    background-color: #E6CDCE;
    font-weight: 500;
    display: inline-block;
    margin: 5px;
}

.filtro-azul{
    color: #4065C2;
    background-color: #CDD5E8;
    font-weight: 500;
    display: inline-block;
    margin: 5px;
}

.filtro-azul-claro{
    color: #196186;
    background-color: #CCEDFE;
    font-weight: 500;
    display: inline-block;
    margin: 5px;
}

.filtro-azul-escuro{
    color: #2C426F;
    background-color: #DCDFE3;
    font-weight: 500;
    display: inline-block;
    margin: 5px;
}

.filtro-verde-escuro{
    color: #477B1E;
    text-decoration: none;
    background-color: #D8E8CC;
    font-weight: 500;
    display: inline-block;
    margin: 5px;
}

.filtro-verde-claro{
    color: #0F824A;
    text-decoration: none;
    background-color: #D5EDE2;
    font-weight: 500;
    display: inline-block;
    margin: 5px;
}

a.filtro-laranja{
    color: #B25F11;
    text-decoration: none;
    background-color: #F9E2CC;
    font-weight: 500;
    display: inline-block;
    margin: 5px;
}

a.filtro-header-section{
    color: #9E9E9E;
    border: 1px solid #9E9E9E;
}

/*-Config ver-tudo*/
.ver-tudo{
    display: flex;
    align-items: center;
}

.ver-tudo img{
    width: 65px;
}

.ver-tudo p{
    font-size: 2.4rem;
    font-weight: bold;
    color: #000;
    text-decoration: none;
    margin-left: 20px;
}


/*-Config comprar-online*/
.comprar-online{
    display: flex;
    align-items: center;
    padding-left: 10px;
}

.comprar-online img{
    margin-right: 20px;
}

.comprar-online p{
    font-weight: bold;
    color: #C30101;
}

/*--> Config header-superior <--*/
#header-superior{
    background-color: black;
    height: 65px;
}

#header-superior .container{
    height: 65px;
}

#header-superior .container{
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
/*Config plataformas*/
.plataformas ul{
    margin-left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    padding: 0;
}

.plataformas ul li{
    margin-right: 16px;
}
/*Config links-externos*/
.links-externos ul{
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
}

.links-externos ul li{
    margin-left: 32px;
}

.links-externos ul li a{
    font-size: 1.2rem;
    color: white;
    text-decoration: none;
}

.links-externos ul li img{
    margin-left: -12px;
}

/*--> Config header<--*/
header{
    height: 120px;
}

header .container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 120px;
}

/*Config nav*/
header nav ul{
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
}

header nav ul li{
    font-weight: 500;
    margin-left: 32px;
}

header nav ul li a{
    font-size: 1.6rem;
    color: black;
    text-decoration: none;
}

header nav ul li a:hover, nav ul li a#atual{
    color: #C30101;
}

.nav-border{
    padding: 10px 25px;
    border: 2px solid black;
    border-radius: 20px;
}

.nav-border:hover, .nav-border#atual{
    color: white;
    background-color: #000;
}

.nav-border-atual{
    background-color: #000;
    color: #fff;
}

/*--> Config footer <--*/
footer{
    background-color: #f2f2f2;
    height: 280px;
    padding: 60px;
}

footer .container{
    display: flex;
    justify-content: space-between;
    height: 280px;
}

/*Config footer-column1*/

.footer-column1{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.footer-column1 .logo{
    display: flex;
    align-items: center;
    font-size: 2.2rem;
    font-weight: bold;
}

.footer-column1 .logo h2{
    margin-left: 15px;
}

address{
    font-size: 1.6rem;
    font-weight: 500;
    font-style: normal;
}

/*Config nav-lateral*/
.nav-lateral{
    font-size: 1.6rem;
}

.nav-lateral ul{
    list-style: none;
}

.nav-lateral ul li{
    margin-top: 15px;
    margin-bottom: 10px;
}

.nav-lateral ul li a{
    color: black;
    text-decoration: none;
}

.nav-lateral ul li a:hover{
    text-decoration: underline;
}

/*--> Config rodapé <--*/
.rodape{
    background-color: black;
    height: 65px;
}

.rodape .container{
    height: 65px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}



/*-->> CONFIG pag ENSINO <--*/
/*--> Config section.metodologia-dominium <--*/
.metodologia-dominium{
    padding: 60px;
}

.metodologia-dominium .container{
    display: flex;
    justify-content: center;
    align-items: center;
}

.metodologia-dominium-column1{
    width: 630px;
    margin-right: 100px;
}

/*--> Config section.nivel-escolar <--*/

.nivel-escolar {
    background-color: #f2f2f2;
    padding: 60px;

}

.ensinos{
    width: 100%;
    background-color: #fff;
    border-radius: 16px;

}

.ensino{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 60px;
    padding: 30px;
    margin-top: 65px;
}

.ensino p{
    width: 100%;
}

.ensino-column1 {
    max-width: 100%;
}

.title-ensino{
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.title-ensino h2{
    font-family: 'Bebas Neue', cursive;
    font-size: 5.6rem;
    margin-left: 32px;
}



.ensino .column-2{
    background-color: #f2f2f2;
    max-width: 400px;
    height: 400px;
    border-radius: 16px;
    margin-left: 60px;
    margin-right: 50px;
}



.ensino .column-2 img{
    position: relative;
    bottom: 118px;
    right: 60px;
}




/* Smaller than standard 960 (devices and browsers) */
@media only screen and (max-width: 959px) {

    /* Ensino */
    .title-ensino h2 {
        font-size: 4.8rem;
    }

}

/* All Mobile Sizes (devices and browser) */
@media only screen and (max-width: 767px) {

    .container {
        display: flex;
    }  

    .nivel-escolar {
        background-color: #f2f2f2;
        padding: 30px;
    }

    .titulo-section {
        font-size: 5.0rem;
        line-height: 6.5rem;
    }

    .metodologia-dominium {
        padding: 30px;
    }

    .metodologia-dominium-column1 {
        max-width: 100%;
        min-width: 50%;
        margin-right: 0;
    }

    .metodologia-dominium-column2 {
        display: none;
    }

    .ensinos {
        padding: 0;
        min-width: 250px;
    }

    .ensino {
        padding: 0;
        justify-content: center;
        overflow-wrap: break-word;
    }

    .title-ensino {
        flex-wrap: wrap;
        justify-content: center;
    }

    .title-ensino h2 {
        font-size: 4.0rem;
    }

    .ensino p {
        padding: 20px;
    }

    /* .ensino-column1 {
        max-width: 100%;
    } */

    .column-2 {
        display: none;
    }
}
