html{
    font-size: 62.5%;
}

body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

.container{
    max-width: 1150px;
    width: 100%;
    margin: auto;
}

/*--> Configs gerais <--*/
.titulo-section{
    font-family: 'Bebas Neue', cursive;
    font-size: 6.0rem;
    line-height: 6.5rem;
}

p{
    font-size: 1.6rem;
    line-height: 25px;
    width: 80%;
}

/*-Config filtros*/
.filtros{
    margin-left: 30px;
}

.outros-filtros .filtro:hover{
    color: #000;
}

.filtro{
    font-size: 1.6rem;
    padding: 10px 20px;
    border-radius: 20px;
    text-decoration: none;
    color: #666;
}

.filtro-atual{
    color: #000;
}

.filtro-preto{
    display: inline-block;
    background-color: #000;
    color: white;
    margin-bottom: 20px;
}

.filtro-roxo{
    color: #8C4CDE;
    background-color: #E6D8F8;
    font-weight: 500;
    display: inline-block;
    margin: 5px;
}

.filtro-vinho{
    color: #AD3C43;
    background-color: #E6CDCE;
    font-weight: 500;
    display: inline-block;
    margin: 5px;
}

.filtro-azul{
    color: #4065C2;
    background-color: #CDD5E8;
    font-weight: 500;
    display: inline-block;
    margin: 5px;
}

.filtro-azul-claro{
    color: #196186;
    background-color: #CCEDFE;
    font-weight: 500;
    display: inline-block;
    margin: 5px;
}

.filtro-azul-escuro{
    color: #2C426F;
    background-color: #DCDFE3;
    font-weight: 500;
    display: inline-block;
    margin: 5px;
}

.filtro-verde-escuro{
    color: #477B1E;
    text-decoration: none;
    background-color: #D8E8CC;
    font-weight: 500;
    display: inline-block;
    margin: 5px;
}

.filtro-verde-claro{
    color: #0F824A;
    text-decoration: none;
    background-color: #D5EDE2;
    font-weight: 500;
    display: inline-block;
    margin: 5px;
}

a.filtro-laranja{
    color: #B25F11;
    text-decoration: none;
    background-color: #F9E2CC;
    font-weight: 500;
    display: inline-block;
    margin: 5px;
}

a.filtro-header-section{
    color: #9E9E9E;
    border: 1px solid #9E9E9E;
}

/*-Config ver-tudo*/
.ver-tudo{
    display: flex;
    align-items: center;
}

.ver-tudo img{
    width: 65px;
}

.ver-tudo p{
    font-size: 2.4rem;
    font-weight: bold;
    color: #000;
    text-decoration: none;
    margin-left: 20px;
}


/*-Config comprar-online*/
.comprar-online{
    display: flex;
    align-items: center;
    padding-left: 10px;
}

.comprar-online img{
    margin-right: 20px;
}

.comprar-online p{
    font-weight: bold;
    color: #C30101;
}

/*--> Config header-superior <--*/
#header-superior{
    background-color: black;
    height: 65px;
}

#header-superior .container{
    height: 65px;
}

#header-superior .container{
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
/*Config plataformas*/
.plataformas ul{
    margin-left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    padding: 0;
}

.plataformas ul li{
    margin-right: 16px;
}
/*Config links-externos*/
.links-externos ul{
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
}

.links-externos ul li{
    margin-left: 32px;
}

.links-externos ul li a{
    font-size: 1.2rem;
    color: white;
    text-decoration: none;
}

.links-externos ul li img{
    margin-left: -12px;
}

/*--> Config header<--*/
header{
    height: 120px;
    position: relative; 
}

header .container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 120px;
}

/*Config nav*/
header nav ul{
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
}

header nav ul li{
    font-weight: 500;
    margin-left: 32px;
}

header nav ul li a{
    font-size: 1.6rem;
    color: black;
    text-decoration: none;
}

header nav ul li a:hover, nav ul li a#atual{
    color: #C30101;
}

.nav-border{
    padding: 10px 25px;
    border: 2px solid black;
    border-radius: 20px;
}

.nav-border:hover, .nav-border#atual{
    color: white;
    background-color: #000;
}

.nav-border-atual{
    background-color: #000;
    color: #fff;
}


/*-->> CONFIG INDEX <<--*/
/*--> Config destaque <--*/
.destaque{
    width: 100%;
}

.destaque .container{
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;

}

.destaque .container img {
    width: 100%;
    min-width: 800px;
    height: 95vh;
    position: absolute;
    top: 160px;
    left: 0;
}


/*--> Config footer <--*/
footer{
    background-color: #f2f2f2;
    height: 280px;
    padding: 60px;
}

footer .container{
    display: flex;
    justify-content: space-between;
    height: 280px;
}

/*Config footer-column1*/

.footer-column1{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.footer-column1 .logo{
    display: flex;
    align-items: center;
    font-size: 2.2rem;
    font-weight: bold;
}

.footer-column1 .logo h2{
    margin-left: 15px;
}

address{
    font-size: 1.6rem;
    font-weight: 500;
    font-style: normal;
}

/*Config nav-lateral*/
.nav-lateral{
    font-size: 1.6rem;
}

.nav-lateral ul{
    list-style: none;
}

.nav-lateral ul li{
    margin-top: 15px;
    margin-bottom: 10px;
}

.nav-lateral ul li a{
    color: black;
    text-decoration: none;
}

.nav-lateral ul li a:hover{
    text-decoration: underline;
}

/*--> Config rodapé <--*/
.rodape{
    background-color: black;
    height: 65px;
}

.rodape .container{
    height: 65px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

/*--> Config secao-contato <--*/
.contato{
    background-color: #F2F2F2;
    padding: 60px;
}

.contato .container{
    display: flex;
    align-items: center;
    justify-content: center;
}

.box{
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 60px;
    border-radius: 40px;
}

/*Config column1*/
.column1{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.column1 h1{
    width: 370px;
    position: relative;
    bottom: 55px;
}

.column1 p{
    width: 418px;
    position: relative;
    bottom: 85px;
}

.outros-contatos .forma-de-contato{
    display: flex;
    align-items: center;
    margin: 20px;
    position: relative;
    bottom: 55px;
}

.link-contato{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.forma-de-contato img{
    width: 45px;
    margin-right: 10px;
}

.forma-de-contato a{
    color: black;
    font-size: 1.6rem;
    width: 450px;
    line-height: 25px;
    text-decoration: none;
}

.forma-de-contato a:hover{
    color: #C30101;
}
/*Config column2*/
.column2 form{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

input{
    width: 420px;
    padding: 15px;
    font-size: 1.6rem;
    color: #9E9E9E;
    border: 1px solid #9E9E9E;
    border-radius: 10px;
    margin-bottom: 10px;
}

select{
    width: 450px;
    padding: 15px;
    font-size: 1.6rem;
    color: #9E9E9E;
    border: 1px solid #9E9E9E;
    border-radius: 10px;
    margin-bottom: 10px;
}

textarea{
    width: 420px;
    height: 180px;
    padding: 15px;
    font-size: 1.6rem;
    color: #9E9E9E;
    border: 1px solid #9E9E9E;
    border-radius: 10px;
    margin-bottom: 10px;
    font-family: 'Roboto', sans-serif;
    resize: none;
}

button{
    width: 450px;
    background-color: #FFD700;
    padding: 15px;
    border: none;
    font-size: 1.6rem;
    font-weight: bold;
    color: black;
    border-radius: 10px;
    margin-bottom: 10px;
}

input:focus, select:focus, textarea:focus, button:focus{
    outline: 0;
}

/* --> Configurações section.nossa-historia  <--- */

.nossa-historia{
    background-color: #C30101;
    min-height: 80vh;

}

.nossa-historia .header {
    /* max-width: 1150px; */
    width: 100%;
    margin: auto;
    background: #fff;
    padding: 30px 0px 3px 60px;
    padding-left: 92px;

}

.quem-somos-column2 {
    overflow-x: hidden;
}

.time-line {
    padding-top: 60px;
    padding-bottom: 60px;
}

.timeline {
    background-color: white;
    width: 100%;
    min-height: 50vh;
    max-height: 100vh;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    border-radius: 16px;
}

.timeline .years {
    width: 100%;
    display: flex;
    flex-direction: column;
    border-radius: 16px;
}
.timeline .years ul{
    width: 100%;
    list-style: none;
    min-height:80vh;
    /* overflow-y: scroll; */
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
}

.timeline .years .year {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 15vh;
    padding-top: 5px;
    padding-bottom: 5px;
}


.timeline .years ul li {
    width: 100%;
    font-size: 2.5rem;
    font-weight: bold;
    justify-content: center;
    cursor: pointer;
}

.years .ativo {
    background-color: white;
}

.years{
    background-color: #f2f2f2;
}

.timeline .years {
    width: 42%;
    max-height:fit-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.timeline .content {
    width: 58%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

.timeline .content .img img {
    border-radius: 0 16px 0 0;
} 

.timeline .content .text {
    max-height: 60vh;
    /* padding: 0 30px 10px 0; */
    margin-left: 60px;
    overflow-y: auto;

}

.text::-webkit-scrollbar{
    width: 0;
}

.timeline .content .text h2 {
    font-family: 'Bebas Neue', cursive;
    font-weight: 500;
    font-size: 5rem;
    margin-bottom: 0;
}

.timeline .content .text p{
    margin-right: 70px ;
    white-space: initial;
    color: #000;
    font-family: 'Roboto', sans-serif;
    line-height: 30px;
    letter-spacing: 1px;
}

/* animação */

.entrar-enter-active , .entrar-leave-active {
    transition: all .3s;
}

.entrar-enter-active , .entrar-leave-active {
    opacity: 0;
    transition: all .3s;
    transform: translate3d(-20px, 0, 0);
}

/* end animacao */

/* --> End section.nossa-historia  <--- */



.card{
    margin: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    perspective: 1000px;
}

.card-inner {
    box-shadow: 0 0 10px #a9b3d6;
    border-radius: 16px;
    position: relative;
    transform-style: preserve-3d !important;
	transition: all 1s ease;
}

.card-inner .card__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.card-inner .card-front img {
    width: 100%;
}

.nossa-equipe .card-front,
.nossa-equipe .card-back{
	backface-visibility: hidden;
}

.card-inner .card-back {
    background-color: #C30101;
    color: white;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    border-radius: 16px;
    transform: rotateY(180deg);
}

.nossa-equipe .card:hover .card-inner{
    transform: rotateY(180deg);
}



.owl-carousel .owl-item img {
    display: block;
    width:auto !important;
    
}
.card h3{
    font-size: 2.4rem;
    font-weight: bold;
    position: relative;
    bottom: 10px;
}

.subtitulo{
    position: relative;
    bottom: 25px;
}

.card a{
    text-decoration: none;
    position: relative;
    bottom: 35px;
}

/*-->> CONFIG SOBRE NÓS <<--*/
/*--> Config quem-somos<--*/
.quem-somos .container{
    display: flex;
    justify-content: center;
    align-items: center;
}

.quem-somos-column1 img{
    width: 450px;
    margin-right: 60px;
}

/*--> Config nossa-equipe <--*/
.nossa-equipe{
    padding: 60px;
}

/*-Config cards-*/
.cards{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}





/* Responsividade */

/* Smaller than standard 960 (devices and browsers) */
@media only screen and (max-width: 959px) {

}

/* Tablet Portrait size to standard 960 (devices and browsers) */
@media only screen and (min-width: 768px) and (max-width: 959px) {

}

/* All Mobile Sizes (devices and browser) */
@media only screen and (max-width: 767px) {

    .container {
        
    }

    /* Quem somos */

    .destaque .container img {
        max-width: 592px;
        max-height: 85vh;
    }

    .quem-somos-column1 {
        display: none;
    }

    .quem-somos .container {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0 60px 20px;
    }

    /* Nossa historia */

    .nossa-historia .header {
        width: 100%;
        margin: auto;
        background: #fff;
        padding: 30px 0px 3px 60px;
    }

    .time-line {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .nossa-historia .timeline {
        width: 90%;
        display: flex;
        flex-direction: column;
    }

    .timeline .years {
        width: 100%;
        flex-direction: row;
        align-items: flex-start;

    }
    .timeline .years ul {
        display: flex;
        flex-direction: row;
        min-height: 25vh;
    }

    .timeline .content {
        width: 100%;
    }

    .timeline .content .text {
        margin-bottom: 40px;
    }

    .timeline .years ul li {
        font-size: 1.5rem;
        overflow-y: auto;
    }

    .timeline .content .text p {
        width: 80%;
    }

}

/* Mobile Landscape Size to Tablet Portrait (devices and browsers) */
@media only screen and (min-width: 480px) and (max-width: 767px) {

}

/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
@media only screen and (max-width: 479px) {

}